extends layout.pug
block content
    h2 Node Chatbox
    main
        ol#history
        form
            p Initials:
            input#initials
            p Message:
            input#message
            button Send